@import url('https://fonts.googleapis.com/css?family=Dekko');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dekko', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E5E8E8;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    gap: 24px;
}

.content h1 {
    color: #A664B0;
    text-align: center;
}

.container-box {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    box-shadow: 4em;
    border-radius: 0.4em;
    background-color: #F4F6F6;
}

.buttom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 400px;
    height: 100px;
}

.clear,
.choice {
    padding: 15px;
    border-radius: 15px;
    width: 110px;
    background-color: #A664B0;
    color: #fff ;
    font-weight: bold;
    border: 2px solid #A664B0;
}

.erase {
    padding: 15px;
    border-radius: 15px;
    width: 110px;
    background-color: #fff;
    color: #A664B0 ;
    font-weight: bold;
    border: 2px solid #fff;
}

.black-color {
    padding: 15px;
    border-radius: 15px;
    width: 110px;
    background-color: #000;
    color: #fff ;
    font-weight: bold;
    border: 2px solid #000;
}

.rcolor {
    padding: 15px;
    border-radius: 15px;
    width: 110px;
    background-color: #E81A0D;
    color: #fff ;
    font-weight: bold;
    border: 2px solid #E81A0D;
}

.clear:hover,
.choice:hover
 {
    border: 2.6px solid #A664B0;
}

.erase:hover {
    border: 2.6px solid #fff;
}

.rcolor:hover {
    border: 2.6px solid #E81A0D;
}

.black-color:hover {
    border: 2.6px solid #000;
}


.footer {
    background-color: #A664B0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    margin-top: 20px;
}

.square {
    flex: 1;
}
