* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F4F6F6;
}

.container-box {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    box-shadow: 1em;
    border-radius: 0.4em;
}
